* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*-------------- Utility Link Design --------------*/
.utilityLink {
    display: flex;
    justify-content: flex-end;
    background: #ededed;
    overflow: hidden;
    height: 2rem;

    border-bottom: 1px solid #d4d4d4;
}

.utilityLink a {
    text-decoration: none;
    padding: 10px;
    font-size: x-small;
    color: rgb(87, 79, 79);
}

@media (max-width: 768px) {
    .utilityLink a {
        padding: 8px;
    }
}

/* -----------Parent Div CSS---------- */
.parent {
    background-color: white;
    height: 7rem;
    position: relative;
    border-bottom: 4px solid #2f2963;
    box-sizing: border-box;
}


/*---------------------------- Logo and Link Div CSS------------------ */
.logoAndLink {
    display: flex;
    position: relative;
    height: 100%;

}

/* ------------------------------Company Logo Css------------------------ */
.companyLogo{
 width: 40%;
 
}
.logoImage {
    height: 100%;

}

/* ---------------------Main Link Css and serach Bar-------------- */
.mainLinkAndSearchBar{
    width: 60%;
    position: relative;
}


/* --------Main Link CSS----------- */
.mainLink {
    width: 100%;
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    right: 0;
    background-color: #2f2963;
    z-index: 2;
    /* padding: 6px; */
    border-top-left-radius: 15px;
}
.navLinkcolor {
    color: white !important;
    font-weight: 700 !important;
    /* z-index: 100000; */
}

.navLinkcolor:hover {
    color: #2578f4 !important;
}

.crossEffect{
    
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2f2963;
    transform-origin: top left;
    transform: skewX(-33deg);
    
    border-top-left-radius: 15px;
}
@media (max-width:1140px){
           .mainLink{
            font-size: 0.7rem;
            padding: 2px;
           }
}
@media (max-width:990px){
    .logoAndLink{
        position: static;
    }
    .mainLink{
        width: max-content;
        height: min-content;
        top: 0;
        right: 0;
        background: #2f2963;
        display: flex;
        justify-content: flex-end;
        
    }
    
    .crossEffect{
        display: none;
    }
}

/* Searchbar Css */
.searchBar{
    padding: 10px 1px 3px 1px;
    width: 50%;
    border-bottom: 1px solid #4eb300;
}

/* Tooltip Design */
#employeeSubDrop::after{
    content: '\f0d9';
    font-family: 'FontAwesome';
    color: #f37022;
}














/* offcanvas button design */
.btn {
    width: 100%;
    background-color: #c9722b54;
    border-color: #007bff77;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #b30057;
    border-color: #4eb300;
}




@media (max-width: 1180px) {
    .updiv {
        overflow: hidden;
    }

    .dndiv {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .navlogo {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }

    .utility {
        width: 100%;
    }

    .imgdim {
        height: 80px;
    }

    .utility .nav {
        width: 100%;
        gap: 0;
        overflow: hidden;
        height: 25px;
        font-size: x-small;
    }

    .dndiv h4 {
        font-size: medium;
    }

    .link {
        width: 100%;
        display: block;
        justify-content: center;
    }

}

@media (max-width: 768px) {
    .design {
        display: flex;
        flex-direction: column;
    }

    .utility {
        border-radius: 10px;
        overflow: hidden;
        height: 30px;
        width: 100%;
    }

    .utility .nav {
        gap: 0px;
    }

    .link {
        width: 100%;
        display: block;
        justify-content: center;
    }

    .navlogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .imgdim {
        height: 80px;
    }

}