
.divmenu1{
    background-color: #8f00ff;
}
.divmenu2{
    background-color: #4B0082;   
}

.divmenu3{
    background-color: #0000FF;
}
.divmenu4{
    background-color: #00FF00;
}
.divmenu5{
    background-color: #FFFF00;
}
.divmenu6{
    background-color: #FFA500;

}
.divmenu7{
    background-color: #FF0000;
}

.divmenu1, .divmenu2, .divmenu3,.divmenu4, .divmenu5, .divmenu6,.divmenu7{
    height: 2.5rem;
    width:2.5rem;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 0.3rem;
    
}
.divmenu1:hover,.divmenu2:hover,.divmenu3:hover, .divmenu4:hover, .divmenu5:hover,.divmenu6:hover,.divmenu7:hover{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}



