* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.wraper{
  height: max-content;
  
  /* overflow-x: hidden; */
  position: relative;
}
.navigationBar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  
}
.sliderSection{
  /* width: 100%; */
 
}
.stickyMenu{
  position: fixed;
  top: 12rem;
  left: 0;
  z-index: 9;
}
.about{
  margin-top: 5rem;
  overflow-x: hidden;
  width: 100%;
}